<div class="typing-wrapper">
  <div class="status-bar" *ngIf="mode === 'time'">
    <div class="timer">Time left: {{ timeLeft }}s</div>
  </div>

  <div class="typing-container" tabindex="0">
    <ng-container *ngFor="let word of words; let wi = index">
      <span class="word">
        <ng-container *ngFor="let char of word.split(''); let ci = index">
          <span [class.correct]="typedChars[wi][ci] === char"
            [class.incorrect]="typedChars[wi][ci] && typedChars[wi][ci] !== char">
            {{ char }}
          </span>
          <span *ngIf="wi === currentWord && ci === currentChar" class="cursor"></span>
        </ng-container>
        <span *ngIf="wi === currentWord && currentChar === word.length" class="cursor"></span>
      </span>
      <span>&nbsp;</span>
    </ng-container>

  </div>
</div>
